[Unit]
Description=UKUI Power Policy daemon
After=upower.service

[Service]
Type=dbus
Restart=always
RestartSec=0
BusName=ukui.power.policy
ExecStart=/usr/bin/ukui-power-policy

[Install]
WantedBy=multi-user.target
